# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Ignore sensitive data files
**/seedData.json
**/adminCredentials.json